.box-margins{
    margin-right:50px;
    margin-top:40px;
}
body {
	background-color: #ffffff;
	font-family: "微軟正黑體";
}

h3{
    font-family: "微軟正黑體";
	font-size: 13pt;
	color: #000000;
	line-height: 150%;
	font-weight: bold;
}

.test{
	background-color: rgb(194, 18, 18);
}